<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Header</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment value="chats" #segment>
    <ion-segment-button value="chats" contentId="chats">
      <ion-label>Chats</ion-label>
    </ion-segment-button>
    <ion-segment-button value="contactos" contentId="contactos">
      <ion-label>Contactos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="perfil" contentId="perfil">
      <ion-label>Perfil</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-segment-view>
    <ion-segment-content id="chats">
      <app-chats [contacto]="contactoActual"></app-chats>
    </ion-segment-content>
    
    <ion-segment-content id="contactos">
      <app-contactos (contactoSeleccionado)="abrirChat($event)" ></app-contactos>
    </ion-segment-content>

    <ion-segment-content id="perfil">
      <app-perfil></app-perfil>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>