<ion-content>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>landing</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card class="ion-no-margin ion-no-padding">
          <ion-card-header>
            <ion-card-title>Welcome to the App</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>This is a simple landing page.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-button expand="full">Go to Home</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-button expand="full">About Us</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
