<ion-header>
  <ion-toolbar color="primary" class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-text">Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col sizeMd="6" offsetMd="3">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <!-- Nombre -->
        <ion-input
          label="Nombre de usuario"
          labelPlacement="stacked"
          formControlName="name"
          type="text"
          errorText="Nombre obligatorio"
          placeholder="Nombre de usuario"
          required
        ></ion-input>
    
        <!-- Email -->
        <ion-input 
          label="Correo electrónico"
          labelPlacement="stacked"
          formControlName="email" 
          type="email"
          errorText="Email obligatorio"
          placeholder="Correo electrónico"
        ></ion-input>
    
        <!-- Contraseña -->
        <ion-input 
          label="Contraseña"
          labelPlacement="stacked"
          formControlName="password" 
          type="password"
          errorText="Ingrese una contraseña válida"
          placeholder="Ingrese una contraseña"
        ><ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
    
        <!-- Confirmar contraseña -->
        <ion-input 
          label="Confirmar contraseña"
          labelPlacement="stacked"
          formControlName="confirmPassword" 
          type="password"
          errorText="Las contraseñas no coinciden"
          placeholder="Confirmar contraseña"
        ><ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
    
        <!-- Crear usuario -->
        <ion-button 
          type="submit" 
          expand="block" 
          [disabled]="signupForm.invalid"
          class="ion-margin-top">
          Registrarse
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>