<ion-header>
  <ion-toolbar color="primary" class="custom-toolbar">
    <ion-title class="title-text">Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <!-- Nombre -->
    <ion-item>
      <ion-input 
        formControlName="name" 
        type="text" 
        placeholder="Nombre completo"
        required
      ></ion-input>
    </ion-item>
    <ion-note *ngIf="signupForm.get('name')?.errors?.['required'] && signupForm.get('name')?.touched">
      Nombre obligatorio
    </ion-note>

    <!-- Email -->
    <ion-item>
      <ion-input 
        formControlName="email" 
        type="email" 
        placeholder="Correo electrónico"
      ></ion-input>
    </ion-item>

    <!-- Contraseña -->
    <ion-item>
      <ion-input 
        formControlName="password" 
        type="password" 
        placeholder="Contraseña (mín. 6 caracteres)"
      ></ion-input>
    </ion-item>

    <!-- Confirmar contraseña -->
    <ion-item>
      <ion-input 
        formControlName="confirmPassword" 
        type="password" 
        placeholder="Confirmar contraseña"
      ></ion-input>
    </ion-item>
    <ion-note *ngIf="signupForm.hasError('mismatch')">
      Las contraseñas no coinciden
    </ion-note>

    <!-- Crear usuario -->
    <ion-button 
      type="submit" 
      expand="block" 
      [disabled]="signupForm.invalid"
      class="ion-margin-top">
      Registrarse
    </ion-button>

    <!-- Botón Volver -->
    <ion-button 
      expand="block" 
      fill="clear" 
      color="medium" 
      routerLink="/login"
      class="ion-margin-top">
      Volver al login
    </ion-button>
  </form>
</ion-content>