<ion-header>
  <ion-toolbar color="primary" class="custom-toolbar">
    <ion-title class="title-text">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding mint-bg">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form">
    <ion-item class="form-item">
      <ion-label position="floating" class="input-label">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email" required class="custom-input"></ion-input>
    </ion-item>
    
    <ion-item class="form-item">
      <ion-label position="floating" class="input-label">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required class="custom-input"></ion-input>
    </ion-item>
    
    <ion-button 
      type="submit" 
      expand="block" 
      class="submit-btn ion-margin-top"
      [disabled]="!loginForm.valid || loading">
      <ion-spinner *ngIf="loading" class="spinner"></ion-spinner>
      <span *ngIf="!loading" class="btn-text">Iniciar Sesión</span>
    </ion-button>
    
    <ion-button 
      type="button"
      expand="block" 
      fill="clear" 
      routerLink="/signup"
      *ngIf="!loading"
      class="secondary-btn">
      ¿No tienes cuenta? Regístrate
    </ion-button>
    
    <ion-button 
      type="button"
      expand="block" 
      fill="clear" 
      (click)="resetPassword()"
      *ngIf="!loading"
      class="secondary-btn">
      ¿Olvidaste tu contraseña?
    </ion-button>
  </form>
</ion-content>