<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card class="ion-no-margin ion-no-padding">
          <ion-card-header>
            <ion-card-title>Welcome to the App</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>This is a simple landing page.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-fab vertical="bottom" horizontal="end" >
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      </ion-fab>
    </ion-row>
  </ion-grid>
</ion-content>
